.convert-card-section{
    border-radius: 20px;
     margin: auto;
     
    div{
        margin-bottom: 12px;
    }
    label{
        color: white;
        font-size: 14px;
        font-weight: 500;
    }
    input,select{
        background-color:#e3e2e2;
        border-radius: 12px;
    }
   
    .convert-btn{
        background-color: #0E98D0;
        color: white;
        border-radius: 12px;
        
    }
    .convert-btn:hover{
        background-color: #0E98D0;
    }
    
}