.convert-card-section{
    border-radius: 20px;
     margin: 0 auto;
     
    div{
        margin-bottom: 12px;
    }
    label{
        color: white;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    input,select{
        background-color:#e3e2e2;
        border-radius: 12px;
    }
    .convert-btn{
        border-radius: 20px;
        height: 50px;
        font-weight: 600;
    }
    
}