<div class="container-sm p-4">
  <div class="d-flex justify-content-between">
    <h2 class="d-flex justify-content-between fs-3 p-2">live exchange rates</h2>
    <div class="d-flex justify-content-between" >
    </div>
    
    <app-fav-curr class="p-2"></app-fav-curr>
  </div>

  <div class="container-sm">
    <div class="row">

      <div class="col-md-6 col-sm-12" *ngFor="let c of currencyList" >
        <app-currency (onSelect)="getSelectedCurrency($event)" [currency]="c"></app-currency>
      </div>
      
    </div>
  </div>

</div>
