*{
  font-family: Poppins;

}
.main-page{
    background-image:url(../assets/headerimg.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;

    .head-title{
        color: white;
        font-family: monospace;
        text-align: center;

    }


    @media (min-width: 992px) {     
      .center{
      width: 40%;
  } 
}

    .mywrapper{
        border-radius: 20px;
        padding: 45px;
        background-color:rgba(53, 53, 53, 0.5);
        border: 0.1px solid rgb(128, 128, 128);
      }

    .taps{
        display: inline-block;
        background-color: #f0f0f0;
        border-radius: 20px;
        font-weight: 500;
        padding: 7px;
        width: 100%;
        margin-bottom: 20px;
    }
    .tabs-btns {
        display: flex;
        justify-content: space-between;
      }
      .convert-btn,.compare-btn{
        all: unset;
        cursor: pointer;
        border-radius: 100px;
        
      }
      .convert-btn{
        padding: 8px 45px;
      }
      .compare-btn {
        padding: 8px 45px;
        
      }
      button.active{
        background-color: #FFF;
      }
      .fadeInOut {
        transition: opacity 1000ms;
      }
      button{
        transition: 0.3s ease-in-out; 
      }
}