
<main class="main-page">
  <section class="center">
    <h1 class="head-title">ConCurrency</h1>

    <div [ngSwitch]="currentComponent" class="mywrapper">
      <div class="taps">
        <div class="tabs-btns">
          <button
            [class.active]="buttonConvertActive"
            (click)="toggleButtons('buttonconvert')"
            (click)="currentComponent = 'componentconvert'"
            class="convert-btn"
          >
            Convert
          </button>
          <button
            [class.active]="buttonCompareActive"
            (click)="toggleButtons('buttoncompare')"
            (click)="currentComponent = 'componentcompare'"
            class="compare-btn"
          >
            Compare
          </button>
        </div>
      </div>
      <app-convert-card *ngSwitchCase="'componentconvert'"></app-convert-card>
      <app-compare-card *ngSwitchCase="'componentcompare'"></app-compare-card>
    </div>
  </section>
  <div>
  </div>
</main>
<app-live-exec></app-live-exec>
