@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

//@ng-select library
@import "~@ng-select/ng-select/themes/default.theme.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Poppins", sans-serif;
}
body {
  margin: 0;
}
.ng-select .ng-select-container {
  background-color: #e3e2e2;
  border-radius: 12px;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
}
