
.icon{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 10px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 75px;
	width: 220px;
	height: 50px;
}
.ico{
	width: 24px;
}