<div class="container-sm">
  <button class="icon" mat-button (click)="isShown = !isShown">
    <img src="../../assets/plus.png" class="ico" />
    Add To Favourites
  </button>

  <div *ngIf="isShown" class="card">
    <div class="modal-body p-2 fs-3">
      <p>Favourites</p>
    </div>
    <div *ngFor="let c of currencies; let i = index">
      <app-currency
        [currency]="c"
        [isCheckbox]="true"
        (onSelect)="getSelectedCurrency(c)"
      ></app-currency>
    </div>
  </div>
</div>
